* {
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 50px;
    background-color: red;
}
/* grid */
main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-top: 10px;
    gap: 10px;
}

.left-header{
    height: 50px;
    background-color: violet;
}
.left-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.box{
    background-color: orange;
    height: 300px;
    margin-top: 10px;
}

.right {
    height: 300px;
   
}
.right-header{
    height: 50px;
    background-color: violet;
}
.right-bottom{
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 10px;
    margin-top: 10px;
}
.right-bottom-left{
    height: 300px;
    display: grid;
    grid-template-rows:repeat(4,1fr);
    gap: 10px;
}
.box1{
    background-color: aquamarine;
}
.right-bottom-right{
    height: 300px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}
.box2{
    background-color: blue;
}
.center{
    height: 50px;
    background-color: violet;
    margin-top: 10px;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
footer{
    height: 50px;
    background-color: brown;
    margin-top: 10px;
}
